<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregá una peli</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>

    <h1 class="moviesAddTitulo"></h1>
    <br>
    <section id="formulario" >
        <article class="mostrarFormulario">
            <ul class="errores"></ul>
            <form class="form" action="/create" method="POST">
                <label for="title">Titulo </label>
                <div><input type="text" name="title" id="title" value="<%=locals.old && old.title%>" ></div>
                <% if(locals.errors && errors.title) { %>
                    <p><%=errors.title.msg%></p>
                <%}%>
                <div class="validationAlert" id="titleAlert">El titulo es obligatorio y debe contener al menos 5 caracteres.</div>
                <label for="rating">Calificación </label>
                <div><input type="number" name="rating" value="<%=locals.old && old.rating%>" id="rating" placeholder="Indicar valor entre 0 y 10"> </div>
                <% if(locals.errors && errors.rating) { %>
                    <p><%=errors.rating.msg%></p>
                <%}%>
                <div class="validationAlert" id="ratingAlert">El rating es obligatorio y debe ser un numero entre 0 y 10.</div>
                <label for="awards">Premios </label>
                <div><input type="number" name="awards" value="<%=locals.old && old.awards%>"  id="awards" placeholder="Indicar valor entre 0 y 10"></div>
                <% if(locals.errors && errors.awards) { %>
                    <p><%=errors.awards.msg%></p>
                <%}%>
                <div class="validationAlert" id="awardsAlert">La cantidad de premios es obligatoria y debe ser un numero entre 0 y 10.</div>
                <label for="release_date">Fecha de creación </label>
                <div><input type="date" name="release_date" id="release_date" placeholder="08/09/2022"></div>
                <% if(locals.errors && errors.release_date) { %>
                    <p><%=errors.release_date.msg%></p>
                <%}%>
                <div class="validationAlert" id="dateAlert">La fecha de lanzamiento es obligatoria y debe ser válida (dd-mm-yyyy).</div>
                <label for="length">Duración </label>
                <div><input type="number" name="length" value="<%=locals.old && old.length%>" id="length" placeholder="Indicar duración entre 60 y 360 minutos" ></div>
                <% if(locals.errors && errors.length) { %>
                    <p><%=errors.length.msg%></p>
                <%}%>
                <div class="validationAlert" id="lengthAlert">La duración es obligatoria y debe ser un numero entre 60 y 360.</div>
                <label for="genre_id">Género </label>
                <div>
                    <select name="genre_id" id="genre_id" >
                        <option value="" disabled selected>- Seleccione el género - </option>
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="validationAlert" id="genreAlert">El género es obligatorio, you must choose one</div>
                <label for="actors">Actores: </label>
                <div>
                    <ul name="actors">
                        <% for( let i = 0; i < allActors.length; i++ ) { %>
                        <li>
                            <input name="<%= allActors[i].id%>" type="checkbox"><%= allActors[i].first_name%> <%= allActors[i].last_name%></input>
                        </li>
                        <% } %>
                    </ul>
                </div>
                
                <br>
                <div> <button class="botonAgregar" type="submit">Listo!</button>
                <br>
                <a  class="botonVolver" href="/">Volver</a></div>
            </form>
        </article>
    </section>
    <script src="/js/addVal.js"></script>
</body>
</html>